[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-migrate = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"
validate-docbr = "*"
email-validator = "*"

[requires]
python_version = "3.8"
